.RPPTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.0075em;
  color: #000000;
  margin-bottom: 16px;
}
.RPPText {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.0075em;
  color: #000000;
}
.RPPEmail {
  align-items: left;
  text-align: left;
}
.RPPEmailLabel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 22px !important;
  display: flex;
  align-items: center;
  letter-spacing: -0.0075em;
  color: #696f88 !important;
  margin-bottom: 2px !important;
}
.RecoveryPasswordPageSection {
  margin: auto;
  text-align: center;
}
.loginCreateAccountLinkDiv {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.loginCreateAccountLinkDiv div {
  text-align: center;
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .RPPTitle {
    font-size: 18px;
  }
}
#control-hooks div + div {
  margin-bottom: 10px;
  font-size: 14px;
}
#control-hooks_newPassword {
  margin-top: 0px;
}
